* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1300px;
  
}

:root {
  
  --title-font: serif;
  --text-font: aerial;
background-color: rgb(20, 20, 20);
  --primary-color: rgb(14, 185, 185);
  --secondary-color: black;
  --accent-color: purple;
}

h1 {
  color: purple;
  margin-left: 450px;
  font-size: 50px;
  padding-top: 30px;
  font-weight: 800;
}
h2 {
  font-size: xx-large;
  color:rgb(14, 185, 185);
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
}
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

body {
  font-family: var(--text-font);
  
}

p {
  color: white;
  font-size: 30px;
  display:inline-block;
  padding-left: 30px;
}

/* ****************************
Layout.js - nav
**************************** */
header {
    position: sticky;
    z-index: 100;
    top:0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);  
}

.nav {
  display: flex;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 20px 80px 20px 20px ;
  justify-content: space-between;
  align-items: center;
  height: 102px;
  position: relative;
  font-size: xx-small;  
   

}

.nav a {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.nav a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transform: scale(1.02) !important;
  
}

.nav__logo {
  font-size: 4em;
}

.nav__links {
    display: flex;
    font-size: 2em;
    align-items: center;
    padding: 5px;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar:hover {
  transform: scale(1.50) !important;
}

.logo {
  padding-top: 50px;
}

.aboutme {
  margin-left: 400px;
  margin-top: 50px;
}

.widgets {
  display:flex;
  justify-content: space-evenly;
  padding-bottom:10px;
  padding-top:10px;
  margin-right:10px;
  margin-left: 20px;
  margin-bottom: 10px;
  position:relative;
  height:auto;
  /* border: 1px solid blue; */
  
}

.widgets__widgetContainer {
  display: flex;
  justify-content: space-evenly;
  height: 100% !important;
  padding-right:10px;
  padding-bottom: -10px;
  margin-top: 15px;
  margin-left:20px;
  margin-bottom: 5px;
  /* border: 1px solid blue; */
  width: 100%;
}



.project-section {
  position: relative !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  
}

.projectsContainer {
  display:flex;
  flex-wrap: wrap;
  padding:20px;
  justify-content: space-evenly;
}

.project-card {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  width: 400px;
  height: 600px;
  justify-content: space-evenly;
  display: inline-block;
  
  
  
}

.project-card-view {
  /* box-shadow: 0 4px 5px 3px rgba(34, 78, 223, 0.637) !important; */
  color: white !important;
  
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  width: 23%;
  display:inline-block;
  overflow: hidden;
  justify-content: space-between;
  margin-left: 21px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.project-card-view:hover {
  transform: scale(1.10) !important;
  
  box-shadow: 0 4px 4px 5px rgba(156, 7, 243, 0.561) !important;
}

.card {
  
  
  
  width: 100%;
  height: 500px;
  align-content: center;
  display:flex;
  
  
  
}

.card-image {
  
  display:flex;
  border:none;
  width:100%;
  
  
}






/* ****************************
Layout.js - nav
**************************** */


/* ****************************
Screens Smaller than 970px
**************************** */

@media screen and (max-width: 970px){
  .nav {
    display: flex;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding-left: 1px;
    align-items: center;
    height: 102px;
    width: 1300px;
    position: relative;
    font-size: xx-small;  
    flex:1;  

  }
  .widgets {
    display:flex;
    justify-content: space-evenly;
    width:70%;
  
    /* border: 1px solid blue; */
  
  }

  .widgets__widgetContainer {
    display:flex;
    justify-content: space-evenly;
    height: 100% !important;
  
    margin-top: 15px;
    margin-left:50px;
    margin-bottom: 5px;
    /* border: 1px solid blue; */
    width: 10%;
  }
  .project-card-view {
  box-shadow: 0 4px 5px 3px rgba(34, 78, 223, 0.637) !important;
  color: white !important;
  background-color: rgb(17, 17, 17) !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  width: 100%;
  display:flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  margin-left: 21px;
  margin-top: 15px;
  margin-bottom: 5px;
  }
}

/* ****************************
Screens Smaller than 770px
**************************** */

@media screen and (max-width: 770px){

    .nav__logo {
        font-size: 2em;
      }

    .nav__links {
        font-size: 1em;
    }
}

/* ****************************
Screens Smaller than 510px
**************************** */

@media screen and (max-width: 510px){
  .widgets {
    display:flex;
    justify-content: space-evenly;
    width:170%;
  
    /* border: 1px solid blue; */
  
  }

  .widgets__widgetContainer {
    display:flex;
    justify-content: space-evenly;
    height: 100% !important;
  
    margin-top: 15px;
    margin-left:50px;
    margin-bottom: 5px;
    /* border: 1px solid blue; */
    width: 100%;
  }
  .project-card-view {
  box-shadow: 0 4px 5px 3px rgba(34, 78, 223, 0.637) !important;
  color: white !important;
  background-color: rgb(17, 17, 17) !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  width: 140%;
  display:flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  margin-left: 260px;
  margin-top: 15px;
  margin-bottom: 5px;
  }
    
}