* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

:root {
  --title-font: serif;
  --text-font: aerial;
background-color: var(--secondary-color);
  --primary-color: rgb(14, 185, 185);
  --secondary-color: black;
  --accent-color: purple;
}

h1 {
  color: purple;
  margin-left: 450px;
  font-size: 50px;
  padding-top: 20px;
  font-weight: 800;
}
h2 {
  font-size: xx-large;
  color:rgb(14, 185, 185);
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
}
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

body {
  font-family: var(--text-font);
}

p {
  color: white;
  font-size: 30px;
  display:inline-block;
  padding-left: 30px;
}

/* ****************************
Layout.js - nav
**************************** */
header {
    position: sticky;
    top: 0;
  z-index: 100;
    top:0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);  
}

.nav {
  display: flex;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;
  height: 102px;
  position: relative;
  font-size: smaller;  
  flex:1;  

}

.nav a {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.nav__logo {
  font-size: 4em;
}

.nav__links {
    display: flex;
    font-size: 2em;
    align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
}

.widgets {
  display:flex;
  
  padding-bottom:10px;
  padding-top:10px;
  margin-right:10px;
  margin-left: 20px;
  position:relative;
  /* border: 1px solid blue; */
  
}

.widgets__widgetContainer {
  display:flex;
  height: 100% !important;
  padding-right:10px;
  margin-top: 15px;
  margin-left:20px;
  margin-bottom: 5px;
  /* border: 1px solid blue; */
  width: 100%;
}


.project-section {
  position: relative !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  
}

.projectsContainer {
  display:flex;
  flex-wrap: wrap;
  padding:20px;
  justify-content: space-evenly;
}

.project-card {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  width: 500px;
  height: 600px;
  justify-content: space-evenly;
  display: inline-block;
  
  
  
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(34, 78, 223, 0.637) !important;
  color: white !important;
  background-color: rgb(17, 17, 17) !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  width: 23%;
  display:inline-block;
  overflow: hidden;
  justify-content: space-between;
  margin-left: 21px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.project-card-view:hover {
  transform: scale(1.10) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(243, 7, 7, 0.561) !important;
}

.card {
  padding: 5px !important;
  opacity: 0.8 !important;
  border-radius: 33px !important;
  width: 500px;
  height: 400px;
  
  display:flex;
  justify-content: space-between;
  
  
}

.card-image {
  width: 100%;
  display:flex;
}




/* ****************************
Layout.js - nav
**************************** */


/* ****************************
Screens Smaller than 970px
**************************** */

@media screen and (max-width: 970px){
    .nav__links {
        font-size: 1.25em;
    }
}

/* ****************************
Screens Smaller than 770px
**************************** */

@media screen and (max-width: 770px){

    .nav__logo {
        font-size: 2em;
      }

    .nav__links {
        font-size: 1em;
    }
}

/* ****************************
Screens Smaller than 510px
**************************** */

@media screen and (max-width: 510px){

    .nav__logo {
        font-size: 1em;
      }

    .nav__links {
        font-size: .6em;
        font-weight: bolder;
    }

    .nav a {
        padding: 2px;
    }
}